name: CodeCov

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  codecov:
    name: Build
    runs-on: ubuntu-latest
    env:
      BUILD_DIR: build_codecov
      GCC_VERSION: 12

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: 'True'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake g++-12 lcov ninja-build

      - name: Configure Build
        run: |
          mkdir "$BUILD_DIR"
          cmake                                      \
            -G Ninja                                 \
            -S .                                     \
            -B "$BUILD_DIR"                          \
            -D ICUBABY_COVERAGE=Yes                  \
            -D ICUBABT_STANDALONE=Yes                \
            -D CMAKE_C_COMPILER="gcc-$GCC_VERSION"   \
            -D CMAKE_CXX_COMPILER="g++-$GCC_VERSION"

      - name: Build
        run: |
          cmake --build "$BUILD_DIR"

      - name: Run the Test Binaries
        run: |
          ./tests/runtests.py "$BUILD_DIR"

      - name: Collect the Coverage
        run: |
          set -x
          lcov                              \
            --capture                       \
            --output-file coverage.info     \
            --directory "$BUILD_DIR"        \
            --gcov-tool "gcov-$GCC_VERSION" \
            --include "$(pwd)/*.?pp"        \
            --ignore-errors mismatch

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
