name: Coverity Scan
on: workflow_dispatch
permissions:
  contents: read

jobs:
  coverity:
    name: Coverity Scan
    runs-on: ubuntu-latest
    env:
      COVURL: scan.coverity.com
      OWNER: paulhuggett
      REPOSITORY: icubaby
      BUILD_TOOL_DIR: "${{ github.workspace }}/coverity-build"

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout Sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Get the Coverity Build Tool MD5
        id: get-cov-md5
        run: |
          mkdir -p "${{ env.BUILD_TOOL_DIR }}"
          PROJECT="${{ env.OWNER }}/${{ env.REPOSITORY }}"
          curl                                                          \
            --data-urlencode "md5=1"                                    \
            --data-urlencode "project=$PROJECT"                         \
            --data-urlencode "token=${{ secrets.COVERITY_TOKEN }}" \
            --location                                                  \
            --output "${{ env.BUILD_TOOL_DIR }}/coverity_tool.md5"      \
            "https://${{ env.COVURL }}/download/linux64"
          MD5=$(cat "${{ env.BUILD_TOOL_DIR }}/coverity_tool.md5")
          echo "Coverity Tool MD5: $MD5"
          echo "md5=$MD5" >> "$GITHUB_OUTPUT"

      - name: Cache the Coverity Build Tool
        id: cache-build-tool
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          key: coverity-${{ runner.os }}-${{ steps.get-cov-md5.outputs.md5 }}
          path: '${{ env.BUILD_TOOL_DIR }}/coverity_tool.tgz'

      - name: Download the Coverity Build Tool
        if: ${{ steps.cache-build-tool.outputs.cache-hit != 'true' }}
        run: |
          echo ${{ steps.cache-build-tool.outputs.cache-hit }}
          mkdir -p "${{ env.BUILD_TOOL_DIR }}"
          PROJECT="${{ env.OWNER }}/${{ env.REPOSITORY }}"
          curl                                                          \
            --data-urlencode "project=$PROJECT"                         \
            --data-urlencode "token=${{ secrets.COVERITY_TOKEN }}" \
            --location                                                  \
            --output "${{ env.BUILD_TOOL_DIR }}/coverity_tool.tgz"      \
            "https://${{ env.COVURL }}/download/linux64"

      - name: Unpack the Coverity Build Tool
        run: |
          cd "${{ env.BUILD_TOOL_DIR }}"
          tar xzf coverity_tool.tgz
          ls

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake

      - name: Configure
        run: |
          rm -f -r ./build
          cmake                         \
            -S .                        \
            -B ./build                  \
            -D CMAKE_BUILD_TYPE=Release \
            -D ICUBABY_STANDALONE=Yes

      - name: Build
        run: |
          $(find "${{ env.BUILD_TOOL_DIR }}" -name cov-build) \
            --dir cov-int                                     \
            cmake --build ./build --config Release
          tail cov-int/build-log.txt

      - name: Compress Results
        run: |
          tar czvf ./icubaby.tgz cov-int

      - name: Submit Results
        run: |
          VERSION=$(git rev-parse --short HEAD)
          PROJECT="${{ env.OWNER }}%2f${{ env.REPOSITORY }}"
          curl                                                \
            --form "token=${{ secrets.COVERITY_TOKEN }}"      \
            --form "email=${{ secrets.COVERITY_EMAIL }}"      \
            --form file=@./icubaby.tgz                        \
            --form "version=$VERSION"                         \
            --form description=""                             \
            "https://${{ env.COVURL }}/builds?project=$PROJECT"
