name: Fuzz Test

on:
  push:
    branches:
      - main
  pull_request:
    types: [assigned, opened, synchronize, reopened]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  fuzztest:
    name: Fuzz Test
    runs-on: ubuntu-latest
    env:
      BUILD_DIR: build_fuzztest
      BUILD_TYPE: RelWithDebug
      CLANG_VERSION: 17

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build

      - name: Install Dependencies (LLVM)
        uses: paulhuggett/install-llvm@ad897b4b1cf03f54c1218ec6d97a23ff4b10b870 # v1.0
        with:
          version: ${{ env.CLANG_VERSION }}

      - name: Configure
        run: |
          mkdir "$BUILD_DIR"
          cmake                                            \
            -S .                                           \
            -B "$BUILD_DIR"                                \
            -G Ninja                                       \
            -D CMAKE_BUILD_TYPE="$BUILD_TYPE"              \
            -D CMAKE_CXX_COMPILER="clang++-$CLANG_VERSION" \
            -D CMAKE_C_COMPILER="clang-$CLANG_VERSION"     \
            -D ICUBABY_FUZZTEST=Yes                        \
            -D ICUBABY_STANDALONE=Yes

      - name: Build
        run: |
          cmake --build "$BUILD_DIR" --config "$BUILD_TYPE" --verbose

      - name: Fuzz
        run: |
          "$BUILD_DIR/unittests/icubaby-unittests" --fuzz_for 30s
